apiVersion: apps/v1
kind: Deployment
metadata:
  name: newsfeed-service
  labels:
    app: newsfeed-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: newsfeed-service
  template:
    metadata:
      labels:
        app: newsfeed-service
    spec:
      containers:
        - name: newsfeed-service
          image: ghcr.io/agile-software-engineering-25/team-5-backend-newsfeed:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "300m"
          readinessProbe:
            httpGet:
              path: /api/newsfeed/actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /api/newsfeed/actuator/health
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: CLIENT_ID
              value: "team-5"
            - name: CLIENT_SECRET
              value: "7x0IqP2ZTcaoVFVBLrRpq46G1NQVuNf9"
